@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main {
  min-height: 100vh;
  padding: 2.5rem 0;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  width: 100%;
  height: 7rem;
  display: grid;
  place-content: center;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  text-align: center;
  box-shadow: var(--shadow);
}

.header h1 {
  font-size: 2.8rem;
  font-weight: 900;
  text-shadow: var(--shadow);
}

.footer {
  font-size: 1.6rem;
  font-weight: 500;
  text-shadow: var(--shadow);
}

.footer a {
  color: var(--accent-color);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  width: 60rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 1.5rem;
  overflow: hidden;
}

.center input {
  padding: 2rem 1rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  background-color: var(--color-secondary);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.center input::placeholder {
  text-transform: capitalize;
}

.center button {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.6rem;
  border: none;
  font-weight: 600;
  color: var(--color-secondary);
  background-color: var(--accent-color);
  transition: 0.25s;
  text-shadow: var(--shadow);
}

.center button:hover {
  cursor: pointer;
}

.center button:active {
  transform: translateY(1px);
}

.output {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--color-primary);
  padding: 0.8rem 0.25rem;
  border-radius: 1.5rem;
  background-color: var(--color-secondary);
}

.output h2 {
  margin-bottom: 0.5rem;
}

.output a {
  font-size: 1.2rem;
}

.guidelines {
  position: absolute;
  top: 11rem;
  left: 3rem;
  color: rgb(172, 172, 172);
  font-size: 1.2rem;
}

.guidelines li {
  margin: 0.2rem;
}

.error {
  position: absolute;
  left: 1rem;
  bottom: 11rem;
  background-color: var(--accent-color);
  color: var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}

@media (max-width: 700px) {
  .center {
    width: 85%;
    margin: 0 auto;
  }
}
